body {
    background-color:#FFCC21;
    height: 80px;
    width: 1440px; 
    padding-top: 150px;
    align-items: center;
  }
  h1 {
    font-size: 30px;
    font-family: Averia Serif Libre;
    font-weight: bold;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
  }
